@import '../icons/style.less';

.screeps-memory {
    &__view {
        position: relative;
        height: 100%;
        min-height: 100px;

        color: rgba(234, 237, 255, 0.7);
        font-family: 'Segoe UI';
        font-size: 12px;
    }

    &__controls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px;

        line-height: 20px;
    }
}
