.screeps-modules {

    &__controls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px;

        line-height: 20px;
    }
}

.screeps-modules-view {
    display: flex;
    flex-direction: column;

    color: rgba(234, 237, 255, 0.7);
    font-family: 'Segoe UI';
    font-size: 12px;

    button:focus {
        outline: none;
        box-shadow: inherit !important;
    }

    &__items {
        overflow: auto;
    }

    ul {
        flex-direction: column;
        height: auto;
        margin: 0;
        padding: 0;
        overflow: auto;

        list-style: none;

        li {
            position: relative;

            display: flex;
            flex-direction: row;
            flex: 1 0 auto !important;
            min-height: 30px;

            &.tab {
                border-left: none;
            }

            .btn {
                text-align: left;
            }
        }
    }
    
}

.screeps-modules-view__header {
    display: flex;
    align-items: center;
    min-height: 32px;
    padding-left: 5px;
    padding-right: 5px;

    line-height: 32px;

    span {
        text-transform: uppercase;
    }

    button {
        position: relative;
        z-index: 1;
    }

    button:nth-child(2) {
        overflow: hidden;

        cursor: pointer;
        color: #4A5FD2 !important;
        font-weight: bold;
        text-overflow: ellipsis;
    }

    button:nth-child(3),
    button:nth-child(4) {
        font-size: 16px;
    }

    button:last-child {
        margin-right: 40px;
    }

    button:focus {
        outline: none;
    }
}

.screeps-modules-view__new {
    padding-left: 5px;
    padding-right: 5px;
}

.screeps-modules-view__branch {
    line-height: 32px;
}

.screeps-modules-view__module {
    button {
        width: 100%;

        border-radius: 0 !important;
    }
}

.screeps-modules-view__active {
    display: inline-block;
    margin-left: 10px;

    color: #6C82FF;
    font-size: 11px;
    text-transform: uppercase;
}

.screeps-modules-view__item.active {
    width: auto !important;

    box-shadow: inherit !important;

    & .btn {
        color: rgba(234, 237, 255, 1);
        font-style: italic;
    }
}
