.screeps-panel {
    display: flex;
    flex-direction: column;
    height: 100%;

    & > footer {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        min-height: 64px;
        margin-top: auto;
        padding-top: 4px;
        padding-bottom: 4px;

        button {
            flex: 1;
            margin: 0 4px;
            min-height: 26px;
        }

        div {
            display: flex;
            margin-top: 4px;
        }
    }

    &:before {
        content: "\e900";

        position: absolute;
        top: 40%;

        width: 100%;
        margin: auto;

        opacity: .02;

        font-family: 'screepsicons' !important;
        font-size: 200px;
        text-align: center;
    }
}
