.screeps-branches-view {
    display: flex;
    flex-direction: column;

    color: rgba(234, 237, 255, 0.7);
    font-family: 'Segoe UI';
    font-size: 12px;

    button:focus {
        outline: none;
        box-shadow: none;
    }

    &__items {
        overflow: auto !important;

        ul {
            flex-direction: column;
            height: auto !important;
            margin: 0;
            padding: 0;

            list-style: none;
        }
    }

    &__item {
        position: relative;

        display: flex;
        flex-direction: row;
        flex: 1 0 auto !important;
        min-height: 30px;
        padding-bottom: 1px !important;

        // Block atom tab settings
        -webkit-user-drag: none !important;

        &.tab {
            border-left: none !important;
        }
    
        .btn {
            text-align: left;
        }

        .btn--clear {
            color: #d7dae0;
            background: none;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        min-height: 32px;
        padding-left: .8em;
        padding-right: .8em;

        user-select: none;
        line-height: 32px;
    
        span {
            text-transform: uppercase;
        }
    
        button {
            position: relative;
            z-index: 1;
        }
    
        button:nth-child(2) {
            overflow: hidden;
    
            cursor: pointer;
            color: #4A5FD2 !important;
            font-weight: bold;
            text-overflow: ellipsis;
        }
    
        button:nth-child(3),
        button:nth-child(4) {
            font-size: 16px;
        }
    
        button:last-child {
            margin-right: 40px;
        }
    
        button:focus {
            outline: none;
        }
    }

    &__world,
    &__sim {
        display: inline-block;
        margin-left: 10px;
        padding: 0;

        border: none;
        background: none;

        font-size: 9px;
        text-transform: uppercase;

        &:hover {
            color: #6C82FF;
        }

        &.--active {
            display: inline-block;
            margin-left: 10px;
    
            color: #6C82FF;
            text-transform: uppercase;
        }
    }

    &__item.--active {
        width: auto !important;

        box-shadow: inherit !important;

        & .btn:nth-child(2) {
            color: rgba(234, 237, 255, 1);
            font-style: italic;
        }
    }
}
