@import 'ui-variables';
@import 'ui-atom';
@import 'fonts.less';

// Components
@import '../ui/components/auth-view/style.less';
@import '../ui/components/welcome-view/style.less';

// Elements
@import '../ui/components/form/style.less';
@import '../ui/components/modal/style.less';
@import '../ui/components/buttons.less';

html, body {
    height: 100%;
    padding: 0;
    margin: 0;

    font-size: 12px;
}

#root {
    height: 100%;
}
