@import 'ui-variables';
@import 'fonts.less';

// Components
@import '../ui/components/auth-view/style.less';
@import '../ui/components/branches-view/style.less';
@import '../ui/components/console-view/style.less';
@import '../ui/components/modules-view/style.less';
@import '../ui/components/welcome-view/style.less';

// Elements
@import '../ui/elements/buttons.less';
@import '../ui/elements/button-group.less';
@import '../ui/components/form/style.less';
@import '../ui/components/modal/style.less';

@import 'ui-atom';

html, body {
    height: 100%;
    padding: 0;
    margin: 0;

    font-size: 12px;
}

#root {
    height: 100%;
}

.storybook-ui-elements-buttons {
    margin: 0 20px;

    & > div {
        display: flex;
        justify-content: space-between;
        padding: 10px;

        &:first-child {
            color: @text-color-highlight;
            font-size: 12px;
        }

        div {
            width: 20%;
        }
    }
}