.screeps-ide {
    .screeps-field {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        border: none;

        font-size: 12px;
    }
    .screeps-field input {
        width: 100%;
        margin: 3px 0;

        border: none;
        background: none;

        color: #ffffff;
        font-size: 1em;
        line-height: 1.28em;
    }
    .screeps-field input:focus {
        outline: none;
    }
    .screeps-field label {
        position: absolute;
        top: 0;

        color: #d9dfff;
        font-size: 1.14em;
        pointer-events: none;
        transition: top 0.3s ease, font-size 0.3s ease;
    }
    .screeps-field input:focus ~ label {
        top: -1.42em;
        font-size: 1em;
    }
    .screeps-field input:valid ~ label {
        top: -1.42em;
        font-size: 1em;
    }
    .screeps-field input ~ .underline {
        position: relative;
        border-bottom: 1px solid #d9dfff;
    }
    .screeps-field input ~ .underline:before {
        content: '';
        position: relative;
        top: 1px;
        display: block;
        width: 0px;
        margin: 0 auto;
        border-bottom: 1px solid rgba(74, 95, 210, 0.65);
        transition: width .3s ease;
    }
    .screeps-field input:focus ~ .underline:before {
        width: 100%;
    }

    .screeps-btn {
        display: inline-flex;
        align-items: center;
        height: 32px;

        padding: 0;
        padding-left: 5px;
        padding-right: 5px;

        border: none;
        background: none;

        cursor: pointer;
        color: rgba(234, 237, 255, 0.7);
        line-height: 32px;
        text-align: left;
        white-space: nowrap;

        &:hover {
            box-shadow: inset 1px 1px 100px rgba(255, 255, 255, .5)
        }
        
        &:focus {
            outline: none;
        }
    }

    .panel-divider {
        position: absolute;
        top: -3px;
        width: 100%;
        height: 5px;

        // cursor: ns-resize;
        cursor: row-resize;
    }

    hr.screeps-hr {
        height: 1px;
        margin: 0;

        border: 0;
        background: rgba(74, 95, 210, 0.65);
    }

    .btn {
        display: inline-flex;
        min-height: 26px;
        padding: 0px 5px;

        border: 1px solid #181a1f;
        border-radius: 3px;
        background-color: #353b45;
        background-image: linear-gradient(#3a3f4b, #353b45);

        cursor: pointer;
        color: #9da5b4;
        text-shadow: none;

        &:focus,
        &:hover {
            outline: none;

            background-image: linear-gradient(#3e4451, #3a3f4b);
            color: #d7dae0;
        }

        &:active {
            background: #2c313a;
            box-shadow: none;
        }
    }

    .btn-group > .btn {
        position: relative;
        float: left;
    }

    .btn-group > .btn:first-child:not(:last-child) {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    .btn-group > .btn:last-child:not(:first-child) {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

    .btn-group > .btn:not(:first-child):not(:last-child) {
        border-radius: 0;
    }

    .btn-group .btn + .btn,
    .btn-group .btn + .btn-group,
    .btn-group .btn-group + .btn,
    .btn-group .btn-group + .btn-group {
        margin-left: -1px;
    }
}
